<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식 주문 페이지</title>
</head>
<body>
    <h1>음식 주문 페이지</h1>

    <form id="menu-form" action="/addToCart" method="post">
        <ul id="menu-list"></ul>

        
    </form>

    <script src="app.js"></script>
</body>
</html>
