<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Blackjack Game</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 폰트어썸 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
        body {
            background-image: url('/images/blackjackback.jpg');
            left: 100px;
            background-size: cover;
            background-position: center;
            width: 1138px;
            height: 712px;
            font-family: '궁서체', serif; /* 궁서체 폰트 적용 */
        }

        .player_board {
            position: absolute;
            bottom: 30px;
            left: 50%;
            width: 500px;
            height: 250px;
            background-color: green;
            border: 3px solid black;
            margin: 0px 0px 0px -250px;
            padding: 0px 0px 0px 30px;
        }

        .player_board div {
            margin-top: 30px;
            margin-right: -70px;
            width: 120px;
            height: 180px;
            float: left;
            font-size: 30pt;
        }

        .deler_board {
            position: absolute;
            top: 30px;
            left: 50%;
            width: 500px;
            height: 250px;
            background-color: green;
            border: 3px solid black;
            margin: 0px 0px -125px -250px;
            padding: 0px 0px 0px 30px;
        }

        .deler_board div {
            margin-top: 0px;
            margin-right: -70px;
            width: 120px;
            height: 180px;
            float: left;
            font-size: 30pt;
        }

        .show {
            position: absolute;
            top: 45%;
            left: 50%;
            margin: -40px 0px 0px -125px;
            align-items: center;
            color: antiquewhite;
        }

        /* 모달 디자인 수정 */
        #myModal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }
        #myModal2 {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 20px;
            border: 1px solid #888;
            text-align: center;
            border-radius: 10px; /* 모달 테두리를 부드럽게 만들기 위해 추가 */
        }

        .modal-header {
            display: flex;
            justify-content: flex-end;
        }

        .modal-header button {
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        .modal-description {
            position: relative; /* 상대적 위치 설정 */
            z-index: 2; /* p 태그가 다른 요소 위에 나타날 수 있도록 설정 */
        }

        img {
            max-width: 50%; /* 이미지 부분이 50% 크기로 조절 */
            height: 90vh; /* 화면 세로 90%로 조절 */
            margin-bottom: 20px;
            margin-right: 20px; /* 가로로 왼쪽에서 20px 떨어지게 배치 */
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        button {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
            color: white;
        }

        /* 이미지와 텍스트를 나란히 표시하는 스타일 */
        .modal-description {
            display: flex;
            align-items: center;
            text-align: left; /* 텍스트를 왼쪽 정렬 */
        }

        /* 텍스트 스타일을 원하는대로 조절할 수 있습니다. */
        .modal-description p {
            font-size: 16px;
            margin-left: 20px; /* 이미지와 텍스트 간격 조절 */
            margin-top: 5px;
        }


        
       
    </style>
    <script type="text/javascript" src="black_jack.js"></script>
</head>

<body onresize="parent.resizeTo(975,720)">
    
    
    <div class="player_board" id="player_board"></div>

    <div class="deler_board" id="deler_board"></div>

    <div class="show">
        <div id="start">
            <input type="button" class="btn btn-primary" value="시작" onclick="new_start()">
        </div>
        <div id="restart" style="display:none;">
            <input type="button" class="btn btn-secondary" value="다시 시작" onclick="turn()">
        </div>
        <div id="gaming" style="display:none;">
            <input type="button" class="btn btn-success" value="카드 받기" onclick="pick()">
            <input type="button" class="btn btn-info" value="콜" onclick="call_to()">
            <input type="button" class="btn btn-danger" value="포기" onclick="give_up()">
        </div>
        <div id="viewer"></div>
        <div id="player_num_board">
            player : <input type="text" name="" value="" id="player_num"><br>
            player score : <input type="text" name="" value="500" id="player_score">
            <div id="my_coin">My Coin: <span id="coin_value" style="color: rgb(29, 26, 26);">0</span></div>
    <div id="betting_section">
        베팅금액:
        <select id="betting_amount"></select>
    </div>
            
        </div>
        <div id="com_num_board" style="display:none;">
            deler : <input type="text" name="" value="" id="deler_num">
        </div>
    </div>

    

    <!-- 모달 창 시작 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button onclick="closeCurrentModal()">&times;</button>
        </div>
        <div class="modal-description">
            <img src="images/blackdes.jpg" alt="Blackjack Explanation Image">
            <p>플레이어가 블랙잭을 기록했고 딜러는 못 한 경우 플레이어가 승리합니다.
                <br><br>
                플레이어가 21점을 넘지 않으면서 딜러보다 점수가 높은 경우 플레이어가 승리합니다.
                <br><br>
                플레이어의 점수가 21점 이하이며 딜러가 버스트한 경우 플레이어가 승리합니다.
                <br><br>
                딜러가 블랙잭을 기록했고 플레이어는 못 한 경우 딜러가 승리합니다.
                <br><br>
                딜러가 21점을 넘지 않으면서 플레이어보다 점수가 높은 경우 딜러가 승리합니다.
                <br><br>
                플레이어가 버스트한 경우에는 딜러가 버스트한 경우에도 딜러가 승리합니다.
                <br><br>
                플레이어와 딜러가 모두 블랙잭을 기록했거나 핸드의 점수가 같은 경우, 이는 푸시라고 하며 어느 쪽도 승리하지 않은 것으로 간주합니다. 
                <br><br>
                이 경우에는 처음 베팅했던 금액이 플레이어에게 돌아갑니다.
            </p>
                <!-- (생략) -->
                <div class="modal-buttons">
                    <button onclick="nextModal()">다음 ></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 창 끝 -->

<!-- 모달 창 시작2 -->
<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button onclick="closeCurrentModal()">&times;</button>
        </div>
        <div class="modal-description">
            <img src="images/blackdes2.jpg" alt="Blackjack Explanation Image">
            <p>딜러가 카드를 나눠주고 자기의 카드를 가져옵니다. <br><br>
                플레이어는 카드를 6과 5를 받았다는 가정하에 상대 딜러의 카드를 확인합니다 <br><br>
                내 카드의 합이 11이기에 최대로 나올수 있는 카드 수인 10이 나오더라도 플레이어는 버스트하지 않기때문에 카드를 받습니다 <br><br>
                그 후 나온 카드의 수가 7이라고 가정하면 플레이어의 카드의 수는 18이 됩니다 <br><br>
                이제 나올 카드가 3이하 여야 하기에 확률은 30퍼 정도가되니 콜하는게 이로울 겁니다 <br><br>

                이런식의 전개로 블랙잭을 플레이 하시면 됩니다.
                
        </div>
    </div>
</div>
<!-- 모달 창 끝 -->
<div>
    <a href="./" class="btn btn-warning" style="color: white;">홈으로 돌아가기</a>
</div>

    <script>
        // 모달 창 표시 여부를 결정하는 변수
        var modalVisible = true;
    
        // 페이지 로딩 시 실행되는 초기화 함수
        window.onload = function () {
            if (modalVisible) {
                openModal();
            }
    
            console.log('onload');
            // 쿠키에서 mycoin 값 가져오기
            var coinValue = getCookie('mycoin');
            console.log(document.cookie);
            console.log(coinValue);
            // 가져온 값이 없거나 undefined이면 기본값 0으로 설정
            coinValue = coinValue || 0;
    
            // UI에 반영
            document.getElementById('coin_value').innerText = coinValue;
    
            // 베팅 옵션 업데이트
            updateBettingOptions(parseInt(coinValue));
        };
    
        // 베팅 옵션 업데이트 함수
        function updateBettingOptions(maxValue) {
            var bettingAmountSelect = document.getElementById('betting_amount');
    
            // 이전 옵션들 제거
            bettingAmountSelect.innerHTML = "";
    
            // 새로운 베팅 옵션 생성
            for (var i = 0; i <= maxValue; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.text = i;
                bettingAmountSelect.add(option);
            }
        }
    
        // 추가된 부분: 모달 창 열기
        function openModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'block';
        }
    
        // 추가된 부분: 모달 닫기
        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }
    
        // 추가된 부분: 현재 열려있는 모달 닫기
        function closeCurrentModal() {
            var openModals = document.querySelectorAll('.modal[style="display: block;"]');
            if (openModals.length > 0) {
                openModals[openModals.length - 1].style.display = 'none';
            }
        }
    
        // 추가된 부분: 다음 모달로 이동
        function nextModal() {
            // 모달 닫기
            closeModal();
            // 다음 모달 열기
            openModal2();
        }
    
        // 예시: 다음 모달을 열기 위한 함수 (필요에 따라 추가)
        function openModal2() {
            var modal = document.getElementById('myModal2');
            modal.style.display = 'block';
        }
    
        // 추가된 부분: 쿠키에서 값을 가져오는 함수
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>

</body>

</html>