<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    
    <title></title>
    <style>
        body {
            background-color: #000088;
        }

        .player_board {
            position: absolute;
            bottom: 50px;
            left: 50%;
            width: 500px;
            height: 250px;
            background-color: green;
            border: 3px solid black;
            margin: 0px 0px 0px -250px;
            padding: 0px 0px 0px 30px;
        }

        .player_board div {
            margin-top: 30px;
            margin-right: -70px;
            width: 120px;
            height: 180px;
            float: left;
            font-size: 30pt;
        }

        .deler_board {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 500px;
            height: 250px;
            background-color: green;
            border: 3px solid black;
            margin: 0px 0px -125px -250px;
            padding: 0px 0px 0px 30px;
        }

        .deler_board div {
            margin-top: 30px;
            margin-right: -70px;
            width: 120px;
            height: 180px;
            float: left;
            font-size: 30pt;
        }

        .show {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px 0px 0px -125px;
            align-items: center;
        }
    </style>
    <script type="text/javascript" src="black_jack.js"></script>
</head>

<body onresize="parent.resizeTo(975,720)">
    <div class="player_board" id="player_board"></div>

    <div class="deler_board" id="deler_board"></div>

    <div class="show">

        <div id="start">
            <input type="button" name="" value="시작" onclick="new_start()">
        </div>

        <div id="restart" style="display:none;">
            <input type="button" name="" value="다시 시작" onclick="turn()">
        </div>
        <div id="gaming" style="display:none;">
            <!--  <input type="button" name="" value="덱 보기" onclick="view()">-->
            <input type="button" name="" value="카드 받기" onclick="pick()">
            <input type="button" name="" value="콜" onclick="call_to()">
            <input type="button" name="" value="포기" onclick="give_up()">
        </div>
        <div id="viewer">

        </div>
        <div id="player_num_board">
            player : <input type="text" name="" value="" id="player_num"><br>
            player score : <input type="text" name="" value="500" id="player_score">
            <input type="button" name="" value="게임 끝" onClick="location.href='/index'">

        </div>
        <div id="com_num_board" style="display:none;">
            deler : <input type="text" name="" value="" id="deler_num">
        </div>
    </div>


    
</body>

</html>